html, body {
    padding: 0;
    margin: 0;
}
body {
    color: #FFF;
    font-family: 'El Messiri', sans-serif;
    background-color: rgb(1 0 1);
}
#myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: fill;
  }
#main-header{
    height: 60px;
    background: rgb(1 0 1);
    margin: 0 0;
    margin-bottom:20px;
    width: 100%;
}
@media all and (max-width: 1024px){
    #main-header{
     width:1200px; 
    }
  }
#main-header .navbar{
    float:right;
}
#main-header .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main-header .navbar li{
    display: inline;
    margin-left: 20px;
    font-size: 1.2vw;
}
#main-header .navbar a{
    text-decoration: none;
    color: #e89ac7;
}
#main-header h1{
    margin: 5px 70px 0 0 ;
}
#main-header img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
#main-header .wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
}
#main-header .wrapper h1{
    font-size: 2vw;
}
.body{
    background-color: #080808da;
    height: 850px;
    width: 1200px;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 20px rgba(1, 0, 1, 0.822);
}
.body1{
    width: 40%;
    float: left;
    padding: 20px;
}
.body1 .lista-personagens{
    margin-left: 20px;
    color:	#97ce4c;
    font-size: 20px;
}
.body1 .lista-personagens h1{
    margin-top: -15px;
}
.body1 .lista-personagens li:hover{
    color:	#e89ac7;
}

.body1 ul{
    color:rgb(239, 239, 239);
}
.body2{
    width: 50%;
    float: right;
    padding: 20px;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    margin: auto;
  }
.portal-gif{
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
}
.image-persongem{
    display: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top:70px;
    right: 100px;
    box-shadow: 0px 0px 40px 40px #c3c3c390;
    filter: grayscale(46%) sepia(90%) hue-rotate(250deg);
}
.nome-personagem{
    margin: auto;
    display: block;
    text-align: center;
    color:#e89ac7;
}
.voltar-pagina{
    display: none;
}
.wrapper-paginacao{
    margin-left: 20px;
    margin-top: 10px;
}
.lista-personagens button{
    border: none;
    outline: inherit;
    color: #272321;
    background-color: #f0e14a;
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}
#modal{
    width: 100%;
    margin-top: -20px;
    padding-top: 100px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    display: none;
    z-index: 1;
}
.h1-modal{
    margin-left: 20px;
}
.h1-name-char{
    margin-left: 20px;
    color:#fff;
    text-shadow: 0 0 30px #b6ab3a, 0 0 20px #b6ab3a, 0 0 20px #b6ab3a, 0 0 20px #b6ab3a, 0 0 10px #b6ab3a;
    flex-wrap: wrap;
}
.modal-content-lista{
    background-color: #97ce4c;
    border-radius: 3px;
    width: 500px;
    min-height: 700px;
    margin: auto;
    padding: 0;
    display: none;
    box-shadow: 0px 0px 60px 2px #98ce4ca3;

}
.modal-content-character{
    background-color: #f0e14a;
    border-radius: 3px;
    width: 500px;
    min-height: 700px;
    max-height: min-content;
    display: none;
    box-shadow: 0px 0px 60px 2px #f0e14aa3;
    margin:auto;
}
.modal-content-edit{
    background-color: #e89ac7;
    border-radius: 3px;
    width: 500px;
    min-height: 700px;
    max-height: min-content;
    display: none;
    box-shadow: 0px 0px 60px 2px #e89ac7;
    margin:auto;
}
.form-edit{
    margin-left: 50px;
}
.form-edit input{
    width: 395px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'El Messiri', sans-serif;
    border-radius: 5px;
}
.form-edit label{
    font-size: 30px;
}
.modal-content-1 img{
    width: 90px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
.modal-content-1{
    display: inline;
}
.modal-content-2{
    display: grid;
    
}
.modal-content-2 img{
    margin: auto;
    border-radius: 50%;
}
.item-list{
    width: 150px;
    display: grid;
    padding:0;
    margin:0;
    float: left;
    margin-left: 12px;
    height: 150px;

}
.modal-content-1 span{
    display: flex;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
}
#modal .btn-excluir{
    cursor: pointer;
    display: inline;
    float:right;
    font-size: 25px;
    margin-top: 5px;
    color:#272321;
    font-weight: bold;
}
#modal .btn-editar{
    cursor: pointer;
    display: inline;
    float:right;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 15px;
    color:#272321;
    font-weight: bold;
}
#modal .btn-fechar{
    cursor: pointer;
    display: inline;
    float:right;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
    color:#272321;
    font-weight: bold;
}
#modal .modal-menu{
    width: 480px;
    padding: 10px;
}
#modal .modal-menu h1{
    display: inline;
}
.img-on-list:hover{
    cursor:pointer;
    content: url("/src/resources/img/close.jpg");
}
.hint{
    font-size: 18px;
}
.btn-favoritar{
    margin: auto;
    margin-top:20px;
    background-color: #97ce4c;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    display: none;
    cursor: pointer;
    height: 35px;
    text-shadow: 0 0 5px #ff00dd;
}
.btn-favoritar:hover{
    text-shadow: 0 0 10px #ff00dd, 0 0 10px #ff00dd, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
}
.btn-salvar{
    font-family: 'El Messiri', sans-serif;
    margin: auto;
    background-color: #97ce4c;
    color: #333;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    display: none;
    cursor: pointer;
    padding-top: 5px;
    height: 35px;
}
.btn-salvar:hover{
    color:#fff;
}
.wrapper-btn{
    margin:auto;
    justify-content: center;
    width: 130px;
    padding-bottom: 10px;
}
.lista-pre-save{
    width: 360px;
    margin: auto;
    padding-top: 10px;
    display: none;
    padding-left: 7px;
    background-color: #97ce4c;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #98ce4ca3;
}
.lista-pre-save img{
    width: 80px;
    height: 80px;
    margin-inline-end: 10px;
    border-radius: 10%;
}
.char-list{
    color:#fff;
    font-size: 25px;
    list-style: none;
    font-weight: bold;
    margin-right: 40px;
}
.char-list li{
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    border: 1px solid #222;
    flex-wrap: wrap;
    background-color: #333;
}